{
  "semi": false,
  "trailingComma": "es5",
  "singleQuote": true,
  "parser": "babel-flow",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}