node8Environment: &node8Environment
  docker:
    - image: circleci/node:8@sha256:dc98100db761eb875a7e3d58c74bcc465d27dc042263ca2ecc7fe38d38da8362
  working_directory: ~/nodejs
node10Environment: &node10Environment
  docker:
    - image: circleci/node:10
  working_directory: ~/nodejs

aliases:
  - &restore_yarn_cache
    keys:
      - v3-yarn-cache-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - v3-yarn-cache-{{ .Branch }}
      - v3-yarn-cache

  - &save_yarn_cache
    key: v3-yarn-cache-{{ .Branch }}-{{ checksum "yarn.lock" }}
    paths:
      - node_modules
      - ~/.cache/yarn

  - &yarn_install
    name: Installing
    command: yarn --frozen-lockfile --ignore-engines

  - &unit_test
    name: Unit testing
    # Limiting the workers of Jest to 10
    # as the build otherwise dies due to resouce restrictions.
    command: yarn test:ci --maxWorkers=10

  - &unit_test_with_coverage
    name: Unit testing (with coverage report)
    command: yarn test:coverage:ci

version: 2
jobs:
  lint:
    <<: *node10Environment
    steps:
      - checkout
      - restore-cache: *restore_yarn_cache
      - run: *yarn_install
      - save_cache: *save_yarn_cache
      - run:
          name: Linting
          # Limiting the workers of Jest to 10
          # as the build otherwise dies due to resouce restrictions.
          command: yarn lint --maxWorkers=10
  test_unit_node_8:
    <<: *node8Environment
    steps:
      - checkout
      - restore-cache: *restore_yarn_cache
      - run: *yarn_install
      - save_cache: *save_yarn_cache
      - run: *unit_test
  test_unit_node_10:
    <<: *node10Environment
    steps:
      - checkout
      - restore-cache: *restore_yarn_cache
      - run: *yarn_install
      - save_cache: *save_yarn_cache
      - run: *unit_test_with_coverage
  test_integration:
    <<: *node10Environment
    steps:
      - checkout
      - restore-cache: *restore_yarn_cache
      - run: *yarn_install
      - save_cache: *save_yarn_cache
      - run:
          name: Integration testing
          command: yarn test:integration

workflows:
  version: 2
  build_and_test:
    jobs:
      - lint
      - test_unit_node_8:
          requires:
            - lint
      - test_unit_node_10:
          requires:
            - lint
      - test_integration:
          context: org-global
          requires:
            # Only depending on one unit testing
            # job will speed up the build by starting
            # the integration testing early (in confidence).
            - test_unit_node_10
