node10Environment: &node10Environment
  docker:
    - image: circleci/node:10.22.0
  working_directory: ~/nodejs
node12Environment: &node12Environment
  docker:
    - image: circleci/node:12.18.3
  working_directory: ~/nodejs

aliases:
  - &restore_yarn_cache
    keys:
      - v4-yarn-cache-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - v4-yarn-cache-{{ .Branch }}
      - v4-yarn-cache

  - &save_yarn_cache
    key: v4-yarn-cache-{{ .Branch }}-{{ checksum "yarn.lock" }}
    paths:
      - ~/.cache/yarn

  - &yarn_install
    name: Installing
    command: yarn --frozen-lockfile

  - &unit_test
    name: Unit testing
    # Limiting the workers of Jest to 10
    # as the build otherwise dies due to resouce restrictions.
    command: yarn test:ci --maxWorkers=10

  - &unit_test_with_coverage
    name: Unit testing (with coverage report)
    command: yarn test:coverage:ci

version: 2
jobs:
  lint:
    <<: *node12Environment
    steps:
      - checkout
      - restore-cache: *restore_yarn_cache
      - run: *yarn_install
      - save_cache: *save_yarn_cache
      - run:
          name: Linting
          # Limiting the workers of Jest to 10
          # as the build otherwise dies due to resouce restrictions.
          command: yarn lint --maxWorkers=10
  test_unit_node_10:
    <<: *node10Environment
    steps:
      - checkout
      - restore-cache: *restore_yarn_cache
      - run: *yarn_install
      - save_cache: *save_yarn_cache
      - run: *unit_test
  test_unit_node_12:
    <<: *node12Environment
    steps:
      - checkout
      - restore-cache: *restore_yarn_cache
      - run: *yarn_install
      - save_cache: *save_yarn_cache
      - run: *unit_test_with_coverage
  test_integration:
    <<: *node12Environment
    steps:
      - checkout
      - restore-cache: *restore_yarn_cache
      - run: *yarn_install
      - save_cache: *save_yarn_cache
      - run:
          name: Integration testing
          command: yarn test:integration

workflows:
  version: 2
  build_and_test:
    jobs:
      - lint
      - test_unit_node_10:
          requires:
            - lint
      - test_unit_node_12:
          requires:
            - lint
      - test_integration:
          context: org-global
          requires:
            # Only depending on one unit testing
            # job will speed up the build by starting
            # the integration testing early (in confidence).
            - test_unit_node_12
