node6Environment: &node6Environment
  docker:
    - image: circleci/node:6@sha256:4a19dae7a195568ac8db767c316d2ee2719de8a2d9ed5d402950d4030ffb4d1b
  working_directory: ~/nodejs
node8Environment: &node8Environment
  docker:
    - image: circleci/node:8@sha256:54f7bd2996f0b2f0bb52684a004cfe646af1dc978dfaa9459597a6e4d1c3079d
  working_directory: ~/nodejs

aliases:
  - &restore_yarn_cache
    keys:
      - v2-yarn-cache-{{ checksum "yarn.lock" }}
      - v2-yarn-cache

  - &save_yarn_cache
    key: v2-yarn-cache-{{ checksum "yarn.lock" }}
    paths:
      - node_modules
      - ~/.cache/yarn

  - &yarn_install
    name: Installing
    command: yarn install --pure-lockfile

  - &unit_test
    name: Unit testing
    # Limiting the workers of Jest to 10
    # as the build otherwise dies due to resouce restrictions.
    command: yarn test:ci --maxWorkers=10

  - &unit_test_with_coverage
    name: Unit testing (with coverage report)
    command: yarn test:coverage:ci

version: 2
jobs:
  lint:
    <<: *node8Environment
    steps:
      - checkout
      - restore-cache: *restore_yarn_cache
      - run: *yarn_install
      - save_cache: *save_yarn_cache
      - run:
          name: Linting
          command: yarn lint
  test_unit_node_6:
    <<: *node6Environment
    steps:
      - checkout
      - restore-cache: *restore_yarn_cache
      - run: *yarn_install
      - save_cache: *save_yarn_cache
      - run: *unit_test
  test_unit_node_8:
    <<: *node8Environment
    steps:
      - checkout
      - restore-cache: *restore_yarn_cache
      - run: *yarn_install
      - save_cache: *save_yarn_cache
      - run: *unit_test_with_coverage
  test_integration:
    <<: *node8Environment
    steps:
      - checkout
      - restore-cache: *restore_yarn_cache
      - run: *yarn_install
      - save_cache: *save_yarn_cache
      - run:
          name: Integration testing
          command: yarn test:integration

workflows:
  version: 2
  build_and_test:
    jobs:
      - lint
      - test_unit_node_6:
          requires:
            - lint
      - test_unit_node_8:
          requires:
            - lint
      - test_integration:
          context: org-global
          requires:
            # Only depending on one unit testing
            # job will speed up the build by starting
            # the integration testing early (in confidence).
            - test_unit_node_8
