node6Environment: &node6Environment
  docker:
    - image: circleci/node:6@sha256:6cecba3690442db43b4d68d733f97a2fb383d7be6935888d9c116cf8a4b905fb
  working_directory: ~/nodejs
node8Environment: &node8Environment
  docker:
    - image: circleci/node:8@sha256:8ffd8da1f6f255f8d4022290c5b7b59e302b9c9df97d4e7cd08b1fae90f1aaae
  working_directory: ~/nodejs

aliases:
  - &restore_yarn_cache
    keys:
      - v2-yarn-cache-{{ checksum "yarn.lock" }}
      - v2-yarn-cache

  - &save_yarn_cache
    key: v2-yarn-cache-{{ checksum "yarn.lock" }}
    paths:
      - node_modules
      - ~/.cache/yarn

  - &yarn_install
    name: Installing
    command: yarn install --pure-lockfile

  - &unit_test
    name: Unit testing
    # Limiting the workers of Jest to 10
    # as the build otherwise dies due to resouce restrictions.
    command: yarn test:ci --maxWorkers=10

  - &unit_test_with_coverage
    name: Unit testing (with coverage report)
    command: yarn test:coverage:ci

version: 2
jobs:
  lint:
    <<: *node8Environment
    steps:
      - checkout
      - restore-cache: *restore_yarn_cache
      - run: *yarn_install
      - save_cache: *save_yarn_cache
      - run:
          name: Linting
          # Limiting the workers of Jest to 10
          # as the build otherwise dies due to resouce restrictions.
          command: yarn lint --maxWorkers=10
  test_unit_node_6:
    <<: *node6Environment
    steps:
      - checkout
      - restore-cache: *restore_yarn_cache
      - run: *yarn_install
      - save_cache: *save_yarn_cache
      - run: *unit_test
  test_unit_node_8:
    <<: *node8Environment
    steps:
      - checkout
      - restore-cache: *restore_yarn_cache
      - run: *yarn_install
      - save_cache: *save_yarn_cache
      - run: *unit_test_with_coverage
  test_integration:
    <<: *node8Environment
    steps:
      - checkout
      - restore-cache: *restore_yarn_cache
      - run: *yarn_install
      - save_cache: *save_yarn_cache
      - run:
          name: Integration testing
          command: yarn test:integration

workflows:
  version: 2
  build_and_test:
    jobs:
      - lint
      - test_unit_node_6:
          requires:
            - lint
      - test_unit_node_8:
          requires:
            - lint
      - test_integration:
          context: org-global
          requires:
            # Only depending on one unit testing
            # job will speed up the build by starting
            # the integration testing early (in confidence).
            - test_unit_node_8
